body {
  background: #493ba1;
  margin: 0;
  padding: 0;
}
h1, h2, p {
  text-align: center;
  color: #FFF;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

nav {
  box-sizing: border-box;
  background-color: #c5d9f9;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

th
{
  color: #FFF;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: left;
}

li {
  color: #FFF;
  display: list-item;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 5px 5px 5px 5px;

}
table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 40%;
}
figure {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
figcaption {
  color: #FFF;
  font-family: 'Oxygen', sans-serif;

}
.centered {
  text-align: center;
}

.active {
  color: #97a9c4;
}

.findme {
  color: #493ba1;
  font-family: 'Oxygen', sans-serif;
  padding: 5px 5px 5px 5px;
  background-color: #c5d9f9;
  text-align: center;
}
