body {
  background: #85a9e2;
  margin: 0;
  padding: 0;
}
h1, p {
  text-align: center;
  color: #FFF;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

nav {
  box-sizing: border-box;
  background-color: #c5d9f9;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}
th
{
  color: #FFF;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: left;
}

li {
  color: #FFF;
  display: list-item;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  
}
table {
   height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 40%;



}

.active {
  color: #97a9c4;
}
